.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-basis: 100px; 
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    display: flex;
}
.footer-nav {
    flex-shrink: 0;
    padding-left: 41rem;
    & li {
        display: inline-block;
        list-style: none;
        padding-right: 2rem;
        & a {
            text-decoration: none;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.346px;
            color: #111;
        }  
    }
}    
.footer-nav a:hover {
    color: blue;
}

.socials {
   float: inline-end;
   padding-left: 4rem;
}