.gallery-grid {
    column-count: 3;
    column-gap: 25px;
    width: 100%;
    & .img {
        display: inline-block;
        width: 100%;   
    }
}
.overlay {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.1rem;
    background-color: azure;
    transform: scale(0);
    transition: all .3s ease-in-out;     
}
.column:hover .overlay {
    transform: scale(1);
}
.gallery-container {
    display: flex;
    gap: 30px;
    margin-top: 45px;
    padding-bottom: 10rem;
}   
.main-image {
    margin-bottom: 45px;
}
.map-container {
    padding-bottom: 10rem;
    padding-top: 10rem;
}