$font-stack: Mulish;
$primary-color: #111;
$background: #FFF;

* {
  box-sizing: border-box;  
}
html, body {
    margin: 0;
    font-family: 100% $font-stack;
    color: $primary-color ;
    background-color: $background;
    position: relative;
    
}
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    padding-left: 12.5rem;
    padding-right: 12.5rem;  
}
main .section-container {
    flex-grow: 1;
}
section {
    display: none;
}
section:target {
    display: block;
}
.award-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-align: justify;
    padding-right: 5rem;
}
.h2 {
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: 55px; /* 137.5% */ 
}
.text-box {
    display: flex;
    max-width: 45rem;
    margin-top: 4rem;
}
.item-container p {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    .item {
        text-align: left;
        width: 25%;
    }
    
    
} 
