$font-stack: Mulish;
$primary-color: #111;
$background: #FFF;

* {
  box-sizing: border-box;  
}
html, body {
    margin: 0;
    font-family: 100% $font-stack;
    color: $primary-color ;
    background-color: $background;
    position: relative;
}
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    padding-left: 12.5rem;
    padding-right: 12.5rem;  
}
main .section-container {
    flex-grow: 1;
}
section {
    display: none;
}
section:target {
    display: block;
}
.title-container {
    display: flex;
    margin-bottom: 5rem;
}     
.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30rem;
    margin-top: 3rem;
    & h2 {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 137.5% */
    }
    & h4 {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.423px;
        margin-bottom: -0.1rem;
    }  
}
.page-title a {
    text-decoration: none;
    color: #4A4FF2;
}
.tagline-container {
    padding-top: 15rem;
    padding-left: 25rem;  
}  
.line {
    width: 30px;
    height: 2px;
    opacity: 0.5;
    background: #111;
} 
.tagline {
    opacity: 0.6;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}


.input-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-align: justify;
    padding-right: 5rem;
}

.text-box {
    display: flex;
    max-width: 45rem;
    margin-top: 4rem;
}
.item-container p {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    .item {
        text-align: left;
        width: 25%;
    }
    
    
} 
