.award-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 10rem;
    .table {
        width: 100%; 
    }
    & td {
        text-align: left; 
    }
    
}
.award_name {
    width: 45%;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.award_type {
    width: 20%;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.award_description {
    width: 20%;
    opacity: 0.6;
    padding-top: 5.5rem;   
}

.award_description p {
    padding-top: 1rem;
}
.year {
    width: 10%;
    text-align: end;
    padding-left: 5rem;
}
.award_description .year {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.item-container {
    display: inline-block;
    width: 30%; 
    padding-bottom: 2rem;
    margin-left: 2rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
} 
table, td {
    text-align: left; 
    padding: 0.8rem;  
}
table {
    border: none; 
    border-collapse: collapse;
}

.subject {
    text-align: left;
    opacity: 0.5;
}
